{% extends 'base.html' %}

{% block title %}Tableau de Bord - Enseignant{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Mes cours</h1>
    <div class="row">
        {% for cours in cours %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ cours.nom }}</h5>
                    <p class="card-text">{{ cours.description }}</p>
                    <p class="card-text"><strong>Code:</strong> {{ cours.code }}</p>
                    <p class="card-text"><strong>Crédits:</strong> {{ cours.credits }}</p>
                    <p class="card-text"><strong>Volume horaire:</strong> {{ cours.volume_horaire_total }}h</p>
                    <a href="{% url 'cours:detail_cours' cours.id %}" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'seances:enseignant_seances' %}" class="btn btn-secondary">Voir l'historique des séances</a>
</div>
{% endblock %}